// Your custom variables
$navbar-color: #0e0030;
$left-gradient:  rgba(156, 235, 255, 0.6);
$right-gradient: rgba(24, 0, 129, 0.5);
$button-plus-color: #ff8d41;
$background-color: white;
$gray: #eee;
$active-cyan-4: #4dd0e1;


